*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgba(211, 211, 211, 0.145);
}

.forForm{
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

form{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    padding-bottom: 80px;
    border-radius: 10px;
    box-shadow: 9px 5px rgba(34, 33, 33, 0.014);
}
form label{
    font-size: 14px;
}
form > .row:first-child h1 {
    font-weight: 700;
    padding-bottom: 30px;

}
form > .row:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 16px;
}
form > .row:nth-child(2) > a{
    text-decoration: none;
    color: black;
} 
form > .row:nth-child(2) a button{
    background-color: white;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: .25s;
    cursor: pointer;
}
form > .row:nth-child(2) a button:hover{
    color: white;
    background-color: black;
}
form > .row:nth-child(2) a button:active{
    color: white;
    background-color: rgb(0, 0, 0);
}
form > .row:nth-child(2) a button i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}
form > .row:nth-child(2) .row:nth-child(3){
    display: flex;
    align-items: center;
    color: lightgray;
    justify-content: space-between;
}
form > .row:nth-child(2) .row:nth-child(3) span{
    height: 2px;
    width: 45%;
    background-color: lightgray;
}

form > .row:nth-child(2) .row:nth-child(4),form > .row:nth-child(2) .row:nth-child(5),form > .row:nth-child(2) .row:nth-child(6){
    display: flex;
    flex-direction: column;
    gap: 4px;
}
form > .row:nth-child(2) .row:nth-child(4) input,form > .row:nth-child(2) .row:nth-child(5) input,form > .row:nth-child(2) .row:nth-child(6) input{
    width: 100%;
    padding: 5px 10px;

}
form > .row:nth-child(2) .row:nth-child(6) p{
    font-size: 13px;
}
form > .row:nth-child(2) > button{
    background-color: black;
    color: white;
    width: 100%;
    padding: 7px;
    transition: .23s;
    cursor: pointer;
    border-radius: 5px;
}
form > .row:nth-child(2) > button:hover{
    color: black;
    background-color: white;
}
form > .row:nth-child(2) > button:active{
    /* color: rgb(59, 59, 59); */
    background-color: rgb(237, 235, 235);
}
form p:last-child a{
    color: black;
}
.forForm .col{
    width: 70%;
    /* height: 100vh; */
    padding: 300px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.085),rgba(0, 0, 0, 0.101)), url('img/hero_2.jpg.webp');
    background-position: center;
    border-radius: 15px;
}
/* @media (max-width:746) {
    .forForm .col {
        width: 70%
    }
} */

@media (max-width:1125px) {
    form{
        width: 30%;

    }
    .forForm .col {
        width: 60%;
      
    }
}
@media (max-width:1014px) {
    form{
        width: 35%;

    }
    .forForm .col {
        width: 55%;
      
    }
}
@media (max-width:990px) {
    form{
        width: 40%;

    }
    .forForm .col {
        width: 50%;
      
    }
}
@media (max-width:770px) {
    form{
        width: 100%;
    }
    .forForm .col {
        width: 100%;
        display: none;
    }
}
header{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 10px 40px;
}
header > div{
    width: 10%;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
    cursor: pointer;
}
header > div div{
    width: 60%;
    height: 100%;
    position: absolute;
    background-color: skyblue;
    border-radius: 20px;
    /* left: 0; */
    color: goldenrod;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark{
    background-color: rgb(17, 17, 17);
    color: white;

}
.darkForm{
    background-color: rgb(17, 17, 17);
    color: white;
    border: 1px solid rgb(143, 136, 136);
}
.change{
    right: 0!important;
    background-color: rgb(30, 27, 27);
    color: white;
}

header i{
    font-size: 30px;
}

.hide{
    display: none;
}
